In [20]:
import pandas as pd
import plotly.graph_objects as go

In [3]:
fn_results = "./data/results.parquet"

In [18]:
def get_total_results(fn_results: str) -> pd.DataFrame:
    """Get results aggregate over all periods

    Args:
        fn_results: name of file with hourly results
    """
    # settings for aggregation
    cols = [
        "nuclear",
        "renewable",
        "netStorage",
        "demand",
        "energyNotServed",
        "curtailNuclear",
        "curtailRenewable",
    ]
    idx = [
        "share_storage",
        "share_generation",
        "share_renewable",
        "curtailRenewableFirst",
    ]
    # get results, add indicator which technology is dispatched first, and aggregate
    df_annual = (
        pd.read_parquet(fn_results)
        .assign(
            curtailRenewableFirst=lambda df: df["costCurtailRenewable"]
            >= df["costCurtailNuclear"]
        )
        .groupby(idx, as_index=False)[cols]
        .sum()
    )
    return df_annual
df_annual = get_total_results(fn_results)

In [24]:
share_generation = 1
curtailResFirst = False
df = (
    df_annual.query(f"share_generation == {share_generation}")
    .query(f"curtailRenewableFirst	 == {curtailResFirst}")
    .drop(["share_generation", "curtailRenewableFirst"], axis=1)
)
df

,share_storage,share_renewable,nuclear,renewable,netStorage,demand,energyNotServed,curtailNuclear,curtailRenewable
0,0.00,0,4.682891e+08,0.0,0.0,5.071364e+08,3.884728e+07,3.884728e+07,0.0
42,0.01,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
84,0.02,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
126,0.03,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
168,0.04,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
210,0.05,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
252,0.06,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
294,0.07,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
336,0.08,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
378,0.09,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
420,0.10,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
462,0.11,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
504,0.12,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
546,0.13,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
588,0.14,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
630,0.15,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
672,0.16,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
714,0.17,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
756,0.18,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
798,0.19,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0
840,0.20,0,4.682891e+08,0.0,0.0,5.071364e+08,0.000000e+00,3.884728e+07,0.0

In [26]:
df_annual.share_renewable.unique()

array([0], dtype=int64)